In [ ]:
import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
from keras.datasets import boston_housing
from keras import models
from keras import layers
from google.colab import files
import io
from sklearn.model_selection import train_test_split

In [ ]:
#(train_data, train_targets), (test_data, test_targets) = boston_housing.load_data()

In [ ]:
uploaded = files.upload()

In [94]:
path = io.StringIO(uploaded["ddataset.csv"].decode('utf-8'))
df = pd.read_csv(path, sep=';')
dataset = df.values
df.head()
#dataset.shape[0] = 89000 
#dataset.shape[1] = 11

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

         time    dx      D  ...       rho_gn       rho_ln            p
0  0,08198779  11,5  0,205  ...  13,42057803  1200,642571  1623197,947
1  0,08198779    23  0,205  ...  12,85535905   1200,61268  1500093,254
2  0,08198779  34,5  0,205  ...  11,77749234  1200,555678  1388438,579
3  0,08198779    46  0,205  ...   10,7998801  1200,503978  1287169,307
4  0,08198779  57,5  0,205  ...   9,91320134  1200,457087  1195319,944

[5 rows x 11 columns]

In [ ]:
X = np.arange(dataset.shape[0] * (dataset.shape[1] - 1)).reshape((dataset.shape[0], dataset.shape[1] - 1))
y = range(dataset.shape[0])
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

X_train = np.array(X_train).astype(np.float32)
X_test = np.array(X_test).astype(np.float32)

y_train = np.array(y_train).astype(np.float32)
y_test = np.array(y_test).astype(np.float32)
X_train.shape, y_train.shape, X_test.shape, y_test.shape

In [ ]:
mean = X_train.mean(axis=0)
X_train -= mean
std = X_train.std(axis=0)
X_train /= std

X_test -= mean
X_test /= std

In [ ]:
def loss_fn(y_true, y_pred):
    squared_difference = tf.square(y_true - y_pred)
    return tf.reduce_mean(squared_difference, axis=-1)

In [ ]:
model = models.Sequential()
model.add(layers.Dense(64, activation='relu', input_shape=(X_train.shape[1],)))
model.add(layers.Dense(64, activation='relu'))
model.add(layers.Dense(1))

model.compile(optimizer='adam', loss=loss_fn, metrics=['mae'])

In [ ]:
model.summary()

In [ ]:
model.fit(X_train, y_train, epochs=80, batch_size=16, verbose=1)

In [ ]:
test_mse_score, test_mae_score = model.evaluate(X_test, y_test)

In [ ]:
test_mae_score